body {
  align-items: center;
  background-color: #F8F8F8;
  bottom: 0;
  display: flex;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.flag {
  height: 325px;
  margin: 0 auto;
  position: relative;
  width: 617.5px;
}

.flag__stripes {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.flag__stripes-stripe {
  background-color: #B22234;
  height: 25px;
  position: relative;
}

.flag__stripes-stripe:nth-child(even) {
  background-color: #FFFFFF;
}

.flag__union {
  background: #3C3B6E;
  display: flex;
  flex-direction: row;
  height: 175px;
  left: 0;
  padding: 0 13.3962px;
  position: absolute;
  top: 0;
  z-index: 200;
}

.flag__union-lane {
  display: flex;
  flex-direction: column;
  width: 20.02px;
}

.flag__union-lane:nth-child(even) {
  padding-top: 16px;
}

.flag__union-star-wrapper {
  padding-top: 26px;
  position: relative;
  zoom: 0.5;
}

.flag__union-star {
  border-bottom: 15.015px solid #FFFFFF;
  border-left: 20.02px solid transparent;
  border-right: 20.02px solid transparent;
  display: block;
  height: 0;
  margin: 12.012px 0;
  position: relative;
  transform: rotate(37deg);
  transition: all 300ms;
  width: 0;
}

.flag__union-star:before {
  border-bottom: 14.014px solid #FFFFFF;
  border-left: 4.6713px solid transparent;
  border-right: 4.6713px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -12.012px;
  position: absolute;
  top: -9.3426px;
  transform: rotate(323deg);
  width: 0;
}

.flag__union-star:after {
  border-bottom: 15.015px solid #FFFFFF;
  border-left: 20.02px solid transparent;
  border-right: 20.02px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -20.02px;
  position: absolute;
  top: 0;
  transform: rotate(286deg);
  width: 0;
}
