body {
  align-items: center;
  background-color: #F8F8F8;
  bottom: 0;
  display: flex;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.flag {
  height: 325px;
  margin: 0 auto;
  position: relative;
  width: 617.5px;
}

.flag__stripes {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.flag__stripes-stripe {
  background-color: #B22234;
  height: 25px;
  position: relative;
}

.flag__stripes-stripe:nth-child(even) {
  background-color: #FFFFFF;
}

.flag__union {
  background: #3C3B6E;
  display: flex;
  flex-direction: row;
  height: 175px;
  left: 0;
  padding: 0 13.3962px;
  position: absolute;
  top: 0;
  z-index: 200;
}

.flag__union-lane {
  display: flex;
  flex-direction: column;
  width: 20.02px;
}

.flag__union-lane:nth-child(even) {
  padding-top: 16px;
}

.flag__union-star {
  background-color: transparent;
  background-image: url('./star.svg');
  background-repeat: no-repeat;
  background-size: 20.02px;
  height: 20.02px;
  margin-top: 13px;
  width: 20.02px;
}
